$reg: 'Muller reg'
$extra: 'Muller extra'
$med: 'Muller med'
$bold: 'Muller bold'
$light: 'Muller light'

$red: #ff2e3b

*
  appearance: none
  box-sizing: border-box
  &:focus
    outline: none

body
  font-size: 16px
  font-family: $reg, Arial, sans-serif
  -webkit-font-smoothing: antialiased

select
  display: none

body
  .select2-container
    width: 100% !important
    display: block
  .select2-dropdown--below,
  .select2-dropdown--above
    border-radius: 0 !important
  .selection
    font-size: .875em
  .select2-dropdown
    font-size: 0.8125em
    //z-index: -1
    border: 0
    box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, 0.09)
    //&:before
    //  content: ''
    //  display: inline-block
    //  position: absolute
    //  left: -25%
    //  right: -25%
    //  background-color: #ffffff
    //  height: 25px
    //  bottom: 100%
  .select2-selection
    border-radius: 0 !important
    border: 0 !important
    height: auto !important
    border-bottom: 1px solid #a1a1a1 !important
  .select2-selection__rendered
    padding-left: 0 !important
    line-height: 1 !important
    padding-top: 4px
    padding-bottom: 4px
  .select2-results>.select2-results__options
    max-height: 18.75rem !important
  .select2-results__option
    padding: .8rem 1.2rem
  .select2-results__option[aria-selected=true]
    background-color: #fff !important
  .select2-results__option--highlighted[aria-selected]
    background-color: $red !important
  .select2-selection__arrow
    height: 100% !important
    top: 0 !important
    right: 0 !important
    width: auto !important
    b
      left: auto !important
      right: 0 !important
      margin: 0 !important
      top: 50% !important
      border: 0 !important
      width: 9px !important
      margin-top: -5px !important
      height: 9px !important
      background: url('../img/select-arrow.svg') no-repeat center !important
      background-size: contain !important
      transform: rotate(90deg)

.header,
.main,
.footer
  width: 100%

body
  .scrollbar-track
    background-color: rgba(#303030, .5)
    cursor: pointer
  .scrollbar-thumb
    background-color: #303030
    border-radius: 0
    width: 100%
  .scrollbar-track-y
    width: 6px

.hidden
  display: none !important

.page
  height: 100vh
  width: 100%
  position: relative

.main
  flex: 1

html
  font-size: 16px
  text-size-adjust: 100%

html, body
  overflow-x: hidden
  width: 100%

button
  cursor: pointer

textarea
  resize: none

input,
textarea
  font-family: $med, Arial, sans-serif
  font-size: 14px
  color: #0e0e0e
  border: 0
  padding-bottom: 6px
  width: 100%
  height: 100%
  background-color: #ffffff
  letter-spacing: 0.025em
  border-bottom: 1px solid #b7b7b7
  &::-webkit-input-placeholder
    font-size: 14px
    letter-spacing: 0.025em
    color: #555555
    font-family: $reg, Arial, sans-serif
  &::-moz-placeholder
    font-size: 14px
    letter-spacing: 0.025em
    color: #555555
    font-family: $reg, Arial, sans-serif
  &::-ms-input-placeholder
    font-size: 14px
    letter-spacing: 0.025em
    color: #555555
    font-family: $reg, Arial, sans-serif

input[type="submit"]
  cursor: pointer

.modal
  &-close
    position: absolute
    right: 16px
    top: 16px
    width: 20px
    display: inline-flex
    align-items: center
    justify-content: center
    line-height: 1
    height: 20px
    svg
      fill: #7a7a7a
      width: 12px
      height: 12px
  &.callback-modal
    min-width: 30.0625rem
    text-align: center
    padding: 5.625rem 7.1875rem
    input
      text-align: center
    .modal__form-btn
      margin-top: 2.25rem
    .form__group
      margin-bottom: 1.875rem
      &:last-of-type
        margin-bottom: 0
    .modal__title
      font-family: $bold
      text-transform: uppercase
      color: #1a1a1a
    .modal__form
      margin-top: 2.25rem
  &__form
    position: relative
    z-index: 0

.container
  width: 100%
  max-width: 1590px
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto

.inline-flex
  display: inline-flex

.flex
  display: flex

.ai-s
  align-items: stretch

.ai-c
  align-items: center

.ai-fs
  align-items: flex-start

.ai-b
  align-items: baseline

.ai-fe
  align-items: flex-end

.jc-sb
  justify-content: space-between

.jc-sa
  justify-content: space-around

.jc-fe
  justify-content: flex-end

.jc-fs
  justify-content: flex-start

.jc-c
  justify-content: center

.fd-c
  flex-direction: column

.fw-w
  flex-wrap: wrap

.pt
  padding-top: 8.125rem !important

.pb
  padding-bottom: 8.125rem !important

.mt
  margin-top: 3.75rem !important

.btn
  border: 0
  background-color: $red
  font-family: $med, Arial, sans-serif
  font-size: 0.6875em
  text-align: center
  line-height: 1
  color: #ffffff
  letter-spacing: 0.05em
  padding: .85rem 3.3125rem .65rem
  text-transform: uppercase
  position: relative
  &:hover
    &:before
      bottom: 3px
      right: 3px
    &:after
      bottom: -3px
      right: -3px
      box-shadow: 0 0 7px 3px rgba(#000, 0.2)
  &:before
    height: calc(100% - 6px)
    width: calc(100% - 6px)
  &:after,
  &:before
    content: ''
    height: 100%
    position: absolute
    width: 100%
    bottom: 0
    transition: .2s all ease-in
    right: 0
    z-index: -1
    background-color: rgba($red, .65)
  &:before
    background-color: rgba($red, .85)
    box-shadow: 0 0 7px 3px rgba(#000, 0)
  &:after
    box-shadow: 0 0 7px 3px rgba($red, 0)
    transition-delay: .05s

.form
  &__group
    position: relative
    &--error
      .form__group-message
        display: inline-block

    &-input
      display: block
      height: 21px

    &-message
      font-size: .8em
      color: red
      display: none
      margin-top: .25rem
      position: absolute
      left: 0
      top: 100%
      max-width: 100%


.socials
  list-style-type: none
  margin: 0
  padding: 0

  li
    &:not(:last-of-type)
      margin-right: .625rem

  a
    width: 16px
    height: 16px
    display: block
    position: relative
    overflow: hidden
    &:hover
      svg
        fill: $red
      &:before
        transform: translateX(100%)
    &:before
      content: ''
      display: inline-block
      position: absolute
      width: 100%
      background-image: linear-gradient( 0deg, rgb(159,26,34) 0%, rgb(255,46,59) 100%)
      left: 0
      height: 100%
      transform: translateX(-100%)
      transition: .45s all ease

    svg
      max-width: 100%
      max-height: 100%
      fill: #707070
      transition: .2s all ease-in .2s

.dropdown
  font-family: $med
  height: 6.25rem
  display: flex
  align-items: center
  position: relative
  &:hover,
  &.active
    color: $red
    ul
      box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.09)
      opacity: 1
      transition: .45s transform ease-in-out, .45s visibility ease-in-out, .45s opacity ease-in-out, .45s box-shadow ease-in-out .18s
      visibility: visible
      transform: translateY(0) translateX(-50%)

  ul
    list-style-type: none
    margin: 0
    text-align: center
    padding: 0
    position: absolute
    opacity: 0
    visibility: hidden
    background-color: #ffffff
    top: calc(100% - 6px)
    transition: .45s transform ease-in-out, .45s visibility ease-in-out, .45s opacity ease-in-out, .1s box-shadow ease-in-out
    transform: translateY(-3rem) translateX(-50%)
    font-size: 0.6875em
    left: 50%
    z-index: -1
    padding: 1rem 1.2rem
    &:before
      content: ''
      display: inline-block
      position: absolute
      left: 0%
      right: 0%
      background-color: #ffffff
      height: 25px
      bottom: 100%
    li
      &:not(:last-of-type)
        margin-bottom: .3rem
      position: relative
      transition: .25s all ease-in
      cursor: pointer
      &:after
        content: ''
        display: inline-block
        position: absolute
        bottom: 0
        left: 0
        transition: .25s all ease-in
        height: 1px
        background-color: transparent
        width: 100%
        transform: scaleX(0)
      &:hover
        color: $red
        &:after
          background-color: $red
          transform: scaleX(1)

  p
    padding: 0
    display: inline-block
    margin: 0
    cursor: pointer
    font-size: .75em
    transition: .25s all ease-in
    border-bottom: 1px solid lighten(#272727, 20%)

.logo
  display: inline-block

  img
    max-width: 100%
    height: auto
    display: block

.mobile-menu
  position: fixed
  display: none
  height: 100%
  width: auto
  transform: translateY(100%)
  opacity: 0
  right: 0
  background-color: rgba(#303030, .85)
  top: 0
  z-index: 2
  visibility: hidden
  transition: .55s all ease-in
  color: #ffffff
  &--p
    padding-right: 3rem
    padding-left: 3rem
  &__logo
    border-bottom: 1px solid rgba(#fff, .4)
    padding-bottom: 2.6rem
  &__info
    padding-top: 2rem
    border-top: 1px solid rgba(#fff, .4)
  &__socials
    a
      svg
        fill: $red
  &__inner
    padding-top: 2.6rem
    padding-bottom: 2rem
    height: 100%
    width: 100%
  &__nav
    flex: 1
    overflow-y: auto
    width: 100%
    margin: 1.5rem 0
    padding-right: 3rem
    text-transform: uppercase
    ul
      list-style-type: none
      margin: 0
      padding: 0
      font-family: $med
      & > li
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        padding-bottom: 1.2rem
        margin-top: 1.2rem
        border-bottom: 1px solid rgba(#fff, .3)
        &:last-of-type
          margin-bottom: 0
          padding-bottom: 0
          border-bottom: 0
        a
          flex: 1
          padding-right: 16px
        svg
          transform: rotate(-90deg)
          width: 14px
          margin-left: 8px
          cursor: pointer
          height: 14px
          transition: .25s all ease-in
          fill: #fff
          &.active
            transform: rotate(-270deg)
      &.mobile-menu__nav-inner
        max-height: 0
        width: 100%
        overflow: hidden
        font-size: .9em
        text-transform: none
        font-family: $reg
        transition: .5s all ease-in
        li
          border-bottom: none
          margin-bottom: .4rem
          padding-bottom: 0
          margin-top: 0
          &:first-of-type
            margin-top: .5rem
          &:last-of-type
            margin-bottom: 1rem
  a
    color: inherit
    text-decoration: none
  &.active
    opacity: 1
    visibility: visible
    transform: translateY(0%)

.phone
  display: block

.callback-btn
  margin-top: .35rem
  line-height: .8
  display: inline-block
  border-bottom: 1px solid lighten(#272727, 20%)

.contacts-block
  font-size: .75em
  a
    text-decoration: none
    color: inherit
    transition: .25s all linear

    &:hover
      color: $red

.header
  &__mobile
    display: none
    background-color: transparent
    cursor: pointer
    border: 0
    line-height: 1
    width: 26px
    z-index: 3
    height: 28px
    margin-left: 2rem
    position: relative
    &.active
      .header__mobile-line
        background-color: #ffffff
        &:nth-of-type(1)
          transform: rotate(45deg)
          top: 11px
        &:nth-of-type(3)
          transform: rotate(-45deg)
          top: 11px
        &:nth-of-type(2)
          width: 0
          opacity: 0

    &-line
      position: absolute
      left: 0
      background-color: $red
      height: 2px
      border-radius: 10px
      transition: .3s all ease-in
      &:nth-of-type(1)
        top: 3px
        width: 100%
        transition-delay: .15s
      &:nth-of-type(2)
        top: 11px
        width: 70%
      &:nth-of-type(3)
        top: 19px
        transition-delay: .2s
        width: 100%
  &__top
    height: 6.25rem
    color: #272727
  &__search
    top: -1px
    &.active
      svg
        fill: $red
      input
        transform: scaleX(1) translateX(0%)
        opacity: 1
        visibility: visible
    input
      right: 2.1875rem
      position: absolute
      z-index: 1
      left: 0
      height: auto
      top: 50%
      margin-top: -19px
      padding-top: 6px
      width: calc(100% - 2.1875rem)
      transform: scaleX(0) translateX(-20%)
      transition: .5s transform ease-in-out, .2s opacity ease-in .15s, .2s visibility ease-in .15s
      opacity: 0
      transform-origin: 70% 0%
      visibility: hidden
      &::-webkit-input-placeholder
        font-style: italic
      &::-moz-placeholder
        font-style: italic
      &::-ms-input-placeholder
        font-style: italic

    &-icon
      display: inline-block
      width: 18px
      height: 17px
      cursor: pointer
      &:hover
        svg
          fill: $red

      svg
        max-width: 100%
        max-height: 100%
        transition: .25s all ease-in
        fill: #595959

    li
      list-style-type: none

  &__left
    padding-top: 6px

  &__right
    padding-top: 6px
    position: relative
    padding-left: 1.875rem
  &__currency
    margin-right: 1.125rem
    position: relative
    z-index: 1
  &__languages
    margin-right: 2.8125rem
    position: relative
    z-index: 1
  &__megamenu
    position: absolute
    left: 0
    right: 0
    min-height: 15rem
    z-index: -1
    top: calc(100% - 6px)
    opacity: 0
    background-color: #ffffff
    transform: translateY(-3rem)
    visibility: hidden
    transition: .45s transform ease-in-out, .45s visibility ease-in-out, .45s opacity ease-in-out, .1s box-shadow ease-in-out
    &:before
      content: ''
      display: inline-block
      position: absolute
      left: -25%
      right: -25%
      background-color: #ffffff
      height: 25px
      bottom: 100%
    &-img
      background-position: 50% 50%
      background-size: cover
      background-repeat: no-repeat
      width: 37.58%

  &__nav
    font-size: 0.8125em
    margin-right: 11.5625rem
    position: relative
    z-index: 1
    svg
      width: 9px
      height: 9px
      display: inline-block
      vertical-align: middle
      transform: rotate(-90deg)
      margin-left: 5px
      fill: #272727
      transition: .25s all ease-in

    ul
      list-style-type: none
      margin: 0
      padding: 0
      font-family: $med
      text-transform: uppercase
      height: 6.25rem
      position: relative

      li
        height: 100%
        display: inline-flex
        align-items: center
        cursor: pointer

        &:hover,
        &.active
          color: $red
          svg
            transform: rotate(-270deg)
          .header__megamenu
            opacity: 1
            visibility: visible
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.09)
            transform: translateY(0)
            transition: .45s transform ease-in-out, .45s visibility ease-in-out, .45s opacity ease-in-out, .45s box-shadow ease-in-out .18s
          .header__nav-inner
            color: #272727


      li:not(:last-of-type)
        margin-right: 2.375rem

      &.header__nav-inner
        text-transform: none
        font-family: $reg
        height: auto
        flex: 1
        display: grid
        grid-template-columns: 1fr auto
        grid-auto-rows: 16px
        align-content: center
        grid-row-gap: 1.125rem
        padding: 2.5rem 3.875rem 2.5rem 2.5rem
        li
          height: auto
          margin-right: 0
        a
          position: relative
          transition: .25s all ease-in
          &:after
            content: ''
            display: inline-block
            position: absolute
            bottom: 0
            left: 0
            transition: .25s all ease-in
            height: 1px
            background-color: transparent
            width: 100%
            transform: scaleX(0)
          &:hover
            color: $red
            &:after
              background-color: $red
              transform: scaleX(1)


    a
      text-decoration: none
      color: inherit
      transition: .25s all ease-in


  &__phone
    white-space: nowrap

  &__socials
    margin-right: 3.125rem
    position: relative
    top: 3px

  &__logo
    width: 6rem
    margin-right: 3.75rem

  &__contacts
    position: relative
    top: 4px

.banner
  min-height: 44.6875rem

.caption
  margin: 0
  padding: 0
  font-family: $bold
  letter-spacing: 0.001em
  font-size: 1.5em
  text-transform: uppercase
  text-align: center
  position: relative
  &.caption--bg
    &:before
      content: attr(data-caption)
      position: absolute
      font-size: 1.58333333em
      white-space: nowrap
      z-index: -1
      color: #eef3f3
      left: 50%
      transform: translateX(-50%)
      top: -3px

.configurator
  position: relative
  z-index: 1
  &__title
    padding: 0
    margin: 0
    text-align: center
    letter-spacing: 0.001em
    font-size: 1.25em
    font-family: $bold
    text-transform: uppercase
  &__form
    width: 80.8%
    max-width: 1260px
    margin: 0 auto
    .form__group
      width: 23.8%
      max-width: 300px
      &.open
        & > .select2-container
          bottom: 0 !important
          top: auto !important
        .select2-dropdown
          opacity: 1 !important
          visibility: visible !important
          transform: translateY(0) !important
          transition: .45s all ease-in
      &.active
        .select2-selection__rendered
          font-family: $med


.products
  &__content
    margin-bottom: -5rem
  &__item
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.07)
    width: calc(50% - 2.5rem)
    max-width: 740px
    margin-bottom: 5rem
    opacity: 0
    transform: translateY(10%)
    transition: .9s opacity cubic-bezier(.06,1.07,.96,.98), 1s transform cubic-bezier(.06,1.07,.96,.98)
    &:nth-child(even)
      transition-delay: .15s
    &.visible
      opacity: 1
      transform: translateY(0%)
    &-sale
      display: inline-block
      position: absolute
      width: 2.1875rem
      top: 1.5625rem
      right: 1.5625rem
      height: 2.1875rem
      svg
        max-height: 100%
        max-width: 100%
        fill: #ff2e3b
    &-lock
      position: absolute
      left: 0
      right: 0
      width: 100%
      height: 100%
      line-height: 1
      background-color: rgba(#000, .6)
      display: flex
      align-items: center
      justify-content: center
      svg
        fill: #fff
        width: 2.1875rem
        height: 2.1875rem
    &-advantages
      padding-top: 2rem
      padding-bottom: 2rem
      margin: 0 -1%
      &.products__item--three
        justify-content: center
        .products__item-advantage
          justify-content: center
      &.products__item--four
        justify-content: space-between
        .products__item-advantage
          &:nth-of-type(1)
            justify-content: flex-start
          &:nth-of-type(2),
          &:nth-of-type(3)
            justify-content: center
          &:nth-of-type(4)
            justify-content: flex-end

    &-advantage
      font-size: .875em
      width: 23%
      margin-left: 1%
      margin-right: 1%

      &--key
        padding: 0
        margin: 0
      &--val
        padding: 0
        margin: 0
        margin-top: .3rem
      &-icon
        display: inline-flex
        align-items: center
        margin-right: 1.5rem
        height: 2rem
        svg
          height: 100%
          width: auto
    &-col
      letter-spacing: 0.025em
      font-size: 0.9375em
      margin: 0 1rem
      &--key
        margin: 0
        padding: 0
        color: #434343
        margin-right: 2rem
      &--val
        margin: 0
        padding: 0
        font-family: $med
    &-info
      padding: 3.75rem 0 2.5rem
      position: relative
      margin: 0 -1rem
      &:after
        content: ''
        display: inline-block
        height: 1px
        left: 1.875rem
        right: 1.875rem
        position: absolute
        bottom: 0
        background-image: linear-gradient(to right, #e1e1e1 71%, rgba(225,225,225,0) 0%)
        background-position: bottom
        background-size: 13px 1px
        background-repeat: repeat-x
    &-price
      &--sale
        font-family: $light
        color: #828282
        font-size: 0.8125em
        position: relative
        &:after
          content: ''
          display: inline-block
          height: 1px
          left: 0
          right: 0
          top: 50%
          margin-top: -1px
          position: absolute
          background-color: #828282
    &-prices
      position: absolute
      bottom: -22px
      line-height: 1
      color: #ffffff
      min-width: 246px
      padding: 0rem .7rem
      height: 44px
      left: 50%
      margin-left: -123px
      background-color: #303030
      p
        padding: 0 5px
        margin: 0
    &--gutters
      padding-left: 1.875rem
      padding-right: 1.875rem
    &-img
      position: relative
      display: block
      img
        width: 100%
        height: auto
        display: block
    &-title
      font-family: $med
      color: #0c0c0c
      margin: 0
      padding-top: 2rem
      padding-bottom: 2rem
      height: 6.625rem
      transition: .25s all ease-in
      text-decoration: none
      display: block
      line-height: 1.5
      text-transform: uppercase
      &:hover
        color: $red
      p
        padding: 0
        margin: 0
        overflow: hidden
        max-height: 100%

.request
  background-color: #f6f6f6
  padding: 5.3125rem 0
  &__title
    font-size: 1.5em
    text-transform: uppercase
    font-family: $extra
    letter-spacing: 0.025em
    padding: 0
    margin: 0
    line-height: 1.375
  &__form
    position: relative
    z-index: 0
    margin-top: 4.6875rem
    &-inputs
      flex: 1
      padding-right: 3.125rem
    .form__group
      width: 16.4%
      &.form__group--textarea
        width: 39.3%
    input, textarea
      background-color: transparent


.slider-numbers
  color: #3d3d3d
  line-height: .7
  letter-spacing: 0.075em
  &--current
    font-family: $bold
    font-size: 2.375em

.swiper-pagination
  position: initial
  display: inline-flex
  align-items: center
  margin: 0 -2px
  justify-content: center
  .swiper-pagination-bullet
    width: 12px
    cursor: pointer
    height: 12px
    margin: 0 2px
    font-size: 0
    background-color: transparent
    border: 0
    display: inline-flex
    align-items: center
    opacity: 1
    justify-content: center
    span
      display: inline-block
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: #e1e1e1
    &.swiper-pagination-bullet-active
      width: 16px
      height: 16px
      span
        width: 10px
        height: 10px
        background-color: #3d3d3d

.reviews
  .swiper-wrapper
    z-index: -1
  &__slider
    z-index: 0
  &__controls
    position: absolute
    bottom: 0
    z-index: 3
    right: 0
    left: calc(58.33% + 8.6%)
  &__name
    color: #252424
    font-family: $extra
    font-size: 1.125em
    padding: 0
    margin: 0
  &__date
    font-size: .875em
    color: #7e7e7e
    padding: 0
    margin: 0
    margin-top: .4rem
  &__top
    display: inline-block
    position: relative
    &-text
      transform: translateX(-50%)
      opacity: 0
  &__text
    width: 100%
    padding-bottom: 2.5rem
    flex: 1
    margin-top: 1.8rem
    color: #191919
    opacity: 0
    font-size: 0.9375em
    line-height: 1.6
    p
      margin-top: 1.3em
      margin-bottom: 1.3em
  &__item
    display: flex
    align-items: stretch
    justify-content: space-between
  &__info
    letter-spacing: 0.025em
    margin-left: 8.6%
    flex: 1
    padding-top: 3.75rem
  &__img
    width: 58.33%
    height: 41.5625rem
    &-inner
      background-position: 50% 50%
      background-size: cover
      background-repeat: no-repeat
      height: 100%
      transform: translateX(35%)
      width: 25%
      opacity: 0



.news
  .swiper-wrapper
    align-items: stretch
  .swiper-slide
    height: auto

  &__item
    display: flex
    align-items: flex-end
    padding: 3.25rem
    justify-content: center
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    min-height: 41.25rem
    &:hover
      .news__title
        color: $red
  &__info
    text-align: center
    height: 160px
    display: flex
    color: inherit
    text-decoration: none
    flex-direction: column
    justify-content: space-between
    align-items: center
    background-color: #ffffff
    padding: 1.875rem 1.5rem 1.5rem
  &__title
    margin: 0
    transition: .25s all ease-in
    flex: 1
    padding: 0
    font-size: .875em
    font-family: $bold
    text-transform: uppercase
    line-height: 1.5
    width: 100%
  &__descr
    font-size: 0.9375em
    width: 100%
    margin: 0
    height: 40px
    overflow: hidden
    padding: 0
    line-height: 1.33333333


.footer
  background-color: #f6f6f6
  padding: 3.75rem 0 3.5rem
  margin-top: 7.8125rem
  &__copy
    padding: 0
    margin: 0 1rem
  &__develop
    margin: 0 1rem
    display: inline-block
  &__bottom
    font-size: 0.8125em
    margin: 0 -1rem
    color: #141414
    letter-spacing: 0.025em
    b
      font-family: $extra
  &__right,
  &__left
    width: 14.6875rem
  &__left
    margin-right: 1.875rem
    display: inline-flex
    flex-direction: column
    justify-content: space-between
  &__right
    margin-left: 1.875rem
    form
      margin-top: calc(1.875rem - 3px)
    p
      margin: 0
      padding: 0
    li
      list-style-type: none
    h2
      margin: 0
      padding: 0
      font-size: 0.8125em
      font-weight: normal
      font-family: $bold
      letter-spacing: 0.025em
    input
      &[type="text"]
        background-color: transparent
      &[type="submit"]
        background-color: #303030
        font-size: 0.6875rem
        font-family: $med
        text-transform: uppercase
        color: #ffffff
        text-align: center
        line-height: 1
        border: 0
        margin-top: 2rem
        letter-spacing: 0.05em
        padding: .85rem .5rem .65rem
  &__nav
    margin-top: 1.875rem
    ul
      list-style-type: none
      margin: 0
      padding: 0
    li
      &:not(:last-of-type)
        margin-bottom: .652rem
  &__menu
    flex: 1
    padding: 0 5.1%
    &-col
      letter-spacing: 0.025em
      font-size: 0.8125em
      width: 32%
      &:not(:last-of-type)
        margin-right: 2%
    &-title
      padding: 0
      text-transform: uppercase
      font-family: $bold
      margin: 0
  a
    color: inherit
    transition: .25s all ease-in
    text-decoration: none
    &:hover
      color: $red
  &__info
    &--key
      padding: 0
      margin: 0
    &--val
      margin-top: .45rem
      display: block
    &-item
      width: 100%
      font-size: 0.8125em
      &:not(:last-of-type)
        margin-bottom: .5rem
  &__logo
    width: 6rem
    margin-bottom: .5rem
  &__bottom
    margin-top: 4.0625rem


@media screen and (max-width: 1450px)
  .header__nav
    margin-right: 9rem
  .header__logo
    margin-right: 2.6rem
  .header__socials
    margin-right: 2.4rem
  .reviews__img
    width: 55%
  .reviews__info
    padding-top: 2.3rem
    margin-left: 5%
  .reviews__text
    margin-top: 1rem
  .reviews__controls
    left: calc(55% + 5%)

@media screen and (max-width: 1300px)
  html
    font-size: 15px
  .header__nav
    margin-right: 6rem
  .header__logo
    margin-right: 2.4rem
  .header__socials
    margin-right: 2.2rem
  .header__nav ul li:not(:last-of-type)
    margin-right: 1.9rem
  .banner
    min-height: 36rem
  .news__item
    min-height: 36rem
    padding: 2.4rem

@media screen and (max-width: 1250px)
  .request__form .form__group.form__group--textarea
    width: 34%
  .request__form .form__group
    width: 18%

@media screen and (max-width: 1199px)
  html
    font-size: 14px
  .footer__menu
    padding: 0 16px
  .footer
    margin-top: 6.3rem
  .news__item
    min-height: 32rem
    padding: 1.7rem
  .reviews__img
    width: 48%
  .reviews__info
    padding-top: 1.2rem
    margin-left: 3.5%
  .reviews__controls
    left: calc(48% + 3.5%)
  .products__item-advantage
    font-size: .75em
    &-icon
      height: 1.6rem
      margin-right: 1.1rem
  .products__item-title
    font-size: .9em
  .caption
    font-size: 1.4em
  .caption.caption--bg::before
    font-size: 1.4em
    top: 0
  .header__nav
    margin-right: 4rem
  .header__logo
    margin-right: 2rem
  .configurator__form
    width: 90%
  .header__socials
    margin-right: 1.8rem
  .header__nav ul li:not(:last-of-type)
    margin-right: 1.55rem
  .banner
    min-height: 30rem
  .pt
    padding-top: 7.5rem !important
  .pb
    padding-bottom: 7.5rem !important
  .mt
    margin-top: 3.25rem !important

@media screen and (max-width: 1050px)
  .header__socials
    display: none
  .request__form-inputs
    width: 100%
    padding-right: 0
    flex-basis: 100%
  .request__form-btn
    margin-top: 2.2rem

@media screen and (max-width: 991px)
  html
    font-size: 13px
  .header__search input
    right: 6.2rem
  .mobile-menu
    display: block
  .header__search
    input
      left: auto
      width: 470px
  .footer
    margin-top: 5.5rem
  .footer__menu
    display: none
  .footer__left
    margin-right: 0
  .footer__right
    margin-left: 0
    margin-top: 3rem
  .footer__logo
    margin-left: auto
    margin-right: auto
  .footer__info-item
    margin-top: 1.2rem
    margin-bottom: 0
  .footer__left,
  .footer__right
    width: 100%
  .footer__top
    text-align: center
    justify-content: center
    flex-direction: column
    align-items: flex-start
    width: 40%
    margin-left: auto
    margin-right: auto
  .reviews__img
    width: 42%
  .reviews__info
    padding-top: 0
    margin-left: 4%
  .reviews__controls
    left: calc(42% + 4%)
  .request__form
    margin-top: 3.5rem
  .products__item-col
    font-size: .875em
  .products__item
    margin-bottom: 3rem
  .products__content
    margin-bottom: -3rem
  .products__item-col--key
    margin-right: 1.6rem

  .products__item-title
    line-height: 1.4
  .products__item
    width: calc(50% - 1.25rem)
  .configurator__form
    width: 100%
  .header__nav
    display: none
  .header__mobile
    display: inline-block
  .pt
    padding-top: 6.2rem !important
  .pb
    padding-bottom: 6.2rem !important
  .mt
    margin-top: 2.8rem !important

@media screen and (max-width: 950px)
  .products__item-col
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
  .products__item-info
    justify-content: space-around
  //.products__item-advantages
  //  flex-wrap: wrap
  //  margin-left: -2.5%
  //  margin-right: -2.5%
  .products__item-advantage
    flex-direction: column
    text-align: center
    align-items: center
    justify-content: flex-start
  .products__item-advantage-icon
    margin-right: 0
  .products__item-advantage-details
    margin-top: .75rem
  .products__item-advantage--val
    margin-top: .1rem


@media screen and (max-width: 850px)
  .configurator__form .form__group
    width: 22%
  .request__form .form__group
    width: 23%
    &.form__group--textarea
      width: 23%
  .header__search
    input
      width: calc(100vw - 30px)
      margin-top: 0
      padding: 10px 15px
      box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.09)
      top: calc(100% - 6px)
      right: 0


@media screen and (max-width: 767px)
  .pt
    padding-top: 5rem !important
  .pb
    padding-bottom: 5rem !important
  .mt
    margin-top: 2.4rem !important
  .reviews__img
    width: 365px
    height: 267px
  .footer
    margin-top: 4.8rem
  .reviews__numbers
    display: none
  .reviews__controls
    left: 0
    width: 100%
    position: initial
    justify-content: center
  .reviews__text
    padding-bottom: 1rem
  .reviews__item
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
  .reviews__info
    margin-left: 0
    margin-top: 2rem
    flex-basis: 100%
    width: 100%
  .request__form
    margin-top: 3rem
  .request__title
    font-size: 1.3em
  .request__form .form__group
    width: 32%
    &.form__group--textarea
      width: 100%
      margin-top: 2.2rem
  .configurator__form
    flex-wrap: wrap
    margin-bottom: -2rem
    align-items: center
    .form__group
      margin-bottom: 2rem
      width: 45%
      max-width: none
  .configurator__btn
    width: 45%
    margin-bottom: 2rem

@media screen and (max-width: 650px)
  .banner
    min-height: 24rem
  .footer__top
    width: 70%
  .products__content
    width: 70%
    margin-left: auto
    margin-right: auto
  .products__item
    width: 100%
  .products__item-advantages.products__item--three
    justify-content: space-between

@media screen and (max-width: 500px)
  .header__contacts
    display: none
  .request__form .form__group
    width: 100%
    margin-bottom: 2.2rem
    &.form__group--textarea
      margin-top: 0
      margin-bottom: 0
  .header__logo
    margin-right: 0
  .header__languages
    margin-right: 2.2rem

  .configurator__form
    margin-bottom: 0
    .form__group
      margin-bottom: 2.4rem
      width: 100%
  .configurator__btn
    width: auto
    margin-left: auto
    margin-right: auto
    margin-bottom: 0

@media screen and (max-width: 480px)
  .products__content
    width: 90%

@media screen and (max-width: 450px)
  .pt
    padding-top: 4.2rem !important
  .pb
    padding-bottom: 4.2rem !important
  .mt
    margin-top: 2.1em !important
  .modal.callback-modal
    min-width: auto
    width: 97%
    padding-left: 18%
    padding-right: 18%
  .mobile-menu
    width: 100%
  .footer__bottom
    flex-direction: column
    align-items: flex-start
    justify-content: center
    text-align: center
    margin-left: 0
    margin-right: 0
  .footer__copy,
  .footer__develop
    width: 100%
    margin-left: 0
    margin-right: 0
  .footer__develop
    margin-top: 1rem
  .reviews__img
    width: 100%

  .caption
    &.caption--bg
      &:before
        font-size: 1.3em


@media screen and (max-width: 400px)
  .footer__top
    width: 100%


@media screen and (max-width: 380px)
  .products__content
    width: 100%