extends ../includes/_layout

block header
  include ../includes/_header

block main
  main.main
    - var breadcrumbs = ['PrivetPhuket', 'Блог', 'Что нужно знать, выбирая тур в Тайланд'];
    include ../includes/_breadcrumbs
    section.p-news
      .container.flex.jc-sb.ai-fs
        .p-news__images
          .p-news__image
            img(src="./img/news-1.jpg" alt="test")
          .p-news__image
            img(src="./img/news-1.jpg" alt="test")
          .p-news__image
            img(src="./img/news-1.jpg" alt="test")
        .p-news__content
          .p-news__text
            h1 ЧТО НУЖНО ЗНАТЬ, ВЫБИРАЯ ТУР В ТАЙЛАНД
            p Таиланд — одно из самых популярных туристических направлений, особенно зимой. Его уже вряд ли можно назвать экзотикой, но зато эта страна предлагает самый разнообразный отдых: от уединенных белоснежных пляжей до бурной ночной жизни и секс-туризма. В Таиланде, как и в любой стране, есть свои особенности туристической инфраструктуры, о которых лучше знать «на берегу». Рассказываем о самых важных из них.
            h3 1. Отели категории «все включено» в Таиланде редкость
            p В Таиланде очень редко встречаются отели, которые работают по системе «все включено». В основном, местные гостиницы предлагают завтраки или завтраки + ужины. Причем, ужины — история довольно бессмысленная. Во-первых, вы скорее всего будете за столом в одиночестве, так как ужины непопулярны среди большинства туристов. А во-вторых, на каждом курорте великое множество кафе, ресторанов и закусочных с весьма дружелюбными ценами, так что не перепробовать всю местную кухню будет просто обидно.
            h3 2. Все пляжи в Таиланде муниципальные
            p Абсолютно все пляжи на территории Таиланда являются муниципальными, и вход туда не ограничен. Некоторые отели обладают «собственными пляжами», но это условность. Дело в том, что некоторые из них расположены рядом с пляжами (на самих пляжах строительство запрещено), но пляж при этом остается открытым для всех желающих, а не только для гостей отеля.
            h3 3. На пляжах Пхукета запрещены шезлонги
            p Вход на все тайские пляжи свободный, но за аренду зонтика и шезлонга придется заплатить (около 100 THB с человека в сутки). Особая история с курортом Пхукет. Чтобы сохранить чистоту пляжей и их природную красоту, местные власти запретили использовать на побережье шезлонги и зонтики. Правда, вскоре поняли, что с зонтиками погорячились — солнце здесь очень жаркое. А вот шезлонги по-прежнему под запретом. Ими можно пользоваться только в отеле в зоне у бассейна.
            h3 4. Популярные курорты и их особенности
            p Самый популярный среди туристов, но от этого не менее роскошный пляжный отдых — это Пхукет. За ночной жизнью стоит ехать в Паттайю, также для этих целей отлично подходит Патонг. Уединенный отдых в тихих бухтах стоит искать на Самуи и на Камале. кстати, пляжи Самуи считаются одними из самых белоснежных и шикарных на всем побережье. Забронировать тур на любой из этих курортов можно в компании BookingTopTur (поиск по всем туроператорам). В целом, если вам хочется тишины и покоя, то стоит выбирать южное и западное побережья. А вот лучшие пляжи (хоть и довольно многолюдные) расположены на востоке страны.
            h3 5. Когда лучше ехать в Таиланд?
            p Климат Таиланда очень различается, в зависимости от регионов. Например, в центральных регионах очень жарко летом (до +45 °C), дождливо и жарко и июня по октябрь (до +35 °C) и относительно прохладно зимой. Правда, прохлада условная: минимальная температура воздуха достигает +18...+20 °C.
            h3 6. Виза, время, перелет и другие формальности
            p Разница во времени с Москвой в Таиланде +4 часа.
            p Гражданам РФ виза в Таиланд не требуется, если они прибывают с целью туризма на срок до 30 дней. Если срок пребывания нужно продлить, достаточно выехать в любое соседнее государство, поставить штамп о выезде и повторном въезде, и отчет 30 дней начнется заново. При выезде из Таиланда нужно оплатить аэропортовый сбор в размере 400 THB с человека (если вылетаете с Самуи — то 500 THB). Некоторые авиакомпании включают этот сбор в стоимость авиабилета, уточните этот вопрос, чтобы случайно не оплатить сбор дважды.
