doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', type='text/css', href='css/main.min.css')
    title Pages
  body
    .main-wrapper
      ul.main-links
        li
          a(href="/main.html") Главная
        li
          a(href="/about.html") О нас
        li
          a(href="/beach-item.html") Пляж
        li
          a(href="/beaches.html") Пляжи
        li
          a(href="/blog.html") Блог
        li
          a(href="/blog-item.html") Страница новости блога
        li
          a(href="/catalog.html") Каталог
        li
          a(href="/contacts.html") Контакты
        li
          a(href="/error.html") 404
        li
          a(href="/map.html") Карта
        li
          a(href="/rent.html") Аренда
        li
          a(href="/reviews.html") Отзывы
        li
          a(href="/sale.html") Продажа
        li
          a(href="/search.html") Поиск
